#canvas {
    background-color: rgb(240, 13, 191);
    width: 500px;
    height: 500px;
}


#score{

background-color: blue;
height: 100px;
width: 100px;
border-radius: 50%;

}

#button{
background-color: blueviolet;
height: 100px;
width: 100px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size: 32px;
color: aliceblue;



}
